{
  "openapi": "3.1.0",
  "info": {
    "title": "Kakiyo API",
    "description": "API for automating LinkedIn outreach campaigns with AI-powered conversations",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.kakiyo.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/verify": {
      "get": {
        "summary": "Verify API Key",
        "description": "Verifies that the provided API key is valid and returns information about the associated team",
        "operationId": "verifyApiKey",
        "responses": {
          "200": {
            "description": "API key verification successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "message": {
                      "type": "string",
                      "example": "API key is valid"
                    },
                    "teamId": {
                      "type": "string",
                      "example": "abcdefghij1234567890"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns": {
      "get": {
        "summary": "List Campaigns",
        "description": "Returns all campaigns for the authenticated team",
        "operationId": "listCampaigns",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of campaigns to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20,
              "maximum": 100
            }
          },
          {
            "name": "after",
            "in": "query",
            "description": "Cursor for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Campaign",
        "description": "Creates a new outreach campaign",
        "operationId": "createCampaign",
        "requestBody": {
          "description": "Campaign to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Campaign created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "campaign_12345abcde"
                    },
                    "name": {
                      "type": "string",
                      "example": "Q2 Sales Outreach"
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}": {
      "put": {
        "summary": "Update Campaign",
        "description": "Updates an existing campaign",
        "operationId": "updateCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the campaign to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Campaign properties to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCampaignRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Campaign updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "campaign_12345abcde"
                    },
                    "message": {
                      "type": "string",
                      "example": "Campaign updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Campaign",
        "description": "Permanently delete a campaign and all associated data",
        "operationId": "deleteCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "campaign_12345abcde"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Campaign deleted successfully"
                    },
                    "deletionSummary": {
                      "type": "object",
                      "properties": {
                        "campaignId": {
                          "type": "string",
                          "example": "campaign_123"
                        },
                        "deletedItems": {
                          "type": "object",
                          "properties": {
                            "prospects": {
                              "type": "integer",
                              "example": 150
                            },
                            "chats": {
                              "type": "integer",
                              "example": 150
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/pause": {
      "post": {
        "summary": "Pause Campaign",
        "description": "Pauses an active campaign",
        "operationId": "pauseCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the campaign to pause",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign paused successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "campaign_12345abcde"
                    },
                    "message": {
                      "type": "string",
                      "example": "Campaign paused successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/resume": {
      "post": {
        "summary": "Resume Campaign",
        "description": "Resumes a paused campaign",
        "operationId": "resumeCampaign",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the campaign to resume",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign resumed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "campaign_12345abcde"
                    },
                    "message": {
                      "type": "string",
                      "example": "Campaign resumed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/campaigns/{id}/stats": {
      "get": {
        "summary": "Get Campaign Stats",
        "description": "Returns statistics for a specific campaign",
        "operationId": "getCampaignStats",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the campaign",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "campaign_12345abcde"
                    },
                    "name": {
                      "type": "string",
                      "example": "Q2 Sales Outreach"
                    },
                    "status": {
                      "type": "string",
                      "example": "active"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "prospects": {
                          "type": "integer",
                          "example": 150
                        },
                        "prospectsAnswers": {
                          "type": "integer",
                          "example": 42
                        },
                        "messages": {
                          "type": "integer",
                          "example": 320
                        },
                        "qualified": {
                          "type": "integer",
                          "example": 18
                        },
                        "closed": {
                          "type": "integer",
                          "example": 5
                        },
                        "conversionRate": {
                          "type": "string",
                          "example": "12.00%"
                        },
                        "responseRate": {
                          "type": "string",
                          "example": "28.00%"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/batch": {
      "post": {
        "summary": "Add Prospects Batch",
        "description": "Adds multiple prospects to a campaign",
        "operationId": "addProspectsBatch",
        "requestBody": {
          "description": "Batch of prospects to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProspectsBatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Prospects added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "3 prospects added successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/batch/round-robin": {
      "post": {
        "summary": "Add Prospects Batch (Round Robin)",
        "description": "Distributes a batch of prospects evenly across multiple campaigns using intelligent load balancing",
        "operationId": "addProspectsBatchRoundRobin",
        "requestBody": {
          "description": "Prospects to distribute across campaigns",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProspectsBatchRoundRobinRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Prospects distributed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Round Robin distribution completed"
                    },
                    "totalProspects": {
                      "type": "integer",
                      "example": 3
                    },
                    "campaignsCount": {
                      "type": "integer",
                      "example": 3
                    },
                    "distribution": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "campaignId": {
                            "type": "string",
                            "example": "campaign_12345abcde"
                          },
                          "campaignName": {
                            "type": "string",
                            "example": "Q4 Enterprise Outreach"
                          },
                          "prospectsAssigned": {
                            "type": "integer",
                            "example": 1
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - minimum 2 campaigns required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_campaigns"
                    },
                    "message": {
                      "type": "string",
                      "example": "Minimum 2 campaigns required for Round Robin distribution"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Campaign does not belong to your team",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "forbidden"
                    },
                    "message": {
                      "type": "string",
                      "example": "Campaign campaign_12345abcde does not belong to your team"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "campaign_not_found"
                    },
                    "message": {
                      "type": "string",
                      "example": "Campaign campaign_12345abcde not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects": {
      "post": {
        "summary": "Add Single Prospect",
        "description": "Adds a single prospect to a campaign",
        "operationId": "addProspect",
        "requestBody": {
          "description": "Prospect to add",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddProspectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Prospect added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Prospect added successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Bulk Delete Prospects",
        "description": "Delete multiple prospects in a single operation",
        "operationId": "bulkDeleteProspects",
        "requestBody": {
          "description": "Prospect IDs to delete",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prospectIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 100,
                    "example": ["prospect_123", "prospect_456"]
                  },
                  "campaignId": {
                    "type": "string",
                    "example": "campaign_abc"
                  }
                },
                "required": ["prospectIds"]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Bulk deletion completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Bulk deletion completed"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "requested": {
                          "type": "integer",
                          "example": 3
                        },
                        "successful": {
                          "type": "integer",
                          "example": 2
                        },
                        "failed": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/campaign/{campaignId}": {
      "get": {
        "summary": "List Campaign Prospects",
        "description": "Returns all prospects associated with a campaign",
        "operationId": "listCampaignProspects",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "ID of the campaign",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of prospects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Prospect"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/search": {
      "get": {
        "summary": "Search Prospects",
        "description": "Advanced search and filtering across all prospects",
        "operationId": "searchProspects",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "Text search across prospect names and headlines",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Filter by specific campaign ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "qualification",
            "in": "query",
            "description": "Filter by qualification status",
            "schema": {
              "type": "string",
              "enum": ["pending", "qualified", "disqualified"]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by conversation status (numeric status code)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Filter prospects by city location",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Filter prospects by country location",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hasResponded",
            "in": "query",
            "description": "Filter prospects who have responded",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isPaused",
            "in": "query",
            "description": "Filter prospects with paused conversations",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "prospects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Prospect"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "example": 1250
                        },
                        "limit": {
                          "type": "integer",
                          "example": 50
                        },
                        "offset": {
                          "type": "integer",
                          "example": 0
                        },
                        "hasMore": {
                          "type": "boolean",
                          "example": true
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/{prospectId}": {
      "delete": {
        "summary": "Delete Single Prospect",
        "description": "Delete a single prospect and all associated data",
        "operationId": "deleteProspect",
        "parameters": [
          {
            "name": "prospectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "prospect_123"
          }
        ],
        "responses": {
          "200": {
            "description": "Prospect deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Prospect deleted successfully"
                    },
                    "deletionSummary": {
                      "type": "object",
                      "properties": {
                        "prospectId": {
                          "type": "string",
                          "example": "prospect_123"
                        },
                        "deletedItems": {
                          "type": "object",
                          "properties": {
                            "chats": {
                              "type": "integer",
                              "example": 1
                            },
                            "messages": {
                              "type": "integer",
                              "example": 8
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Prospect not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/{chatId}": {
      "get": {
        "summary": "Get Prospect Details",
        "description": "Returns details of a specific prospect conversation",
        "operationId": "getProspectDetails",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "description": "ID of the chat/conversation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prospect details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProspectDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Prospect not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/{chatId}/pause": {
      "post": {
        "summary": "Pause Conversation",
        "description": "Pauses a conversation with a prospect",
        "operationId": "pauseConversation",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "description": "ID of the chat/conversation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation paused successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conversation paused successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/{chatId}/resume": {
      "post": {
        "summary": "Resume Conversation",
        "description": "Resumes a paused conversation with a prospect",
        "operationId": "resumeConversation",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "description": "ID of the chat/conversation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conversation resumed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Conversation resumed successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prospects/{chatId}/qualify": {
      "post": {
        "summary": "Qualify Prospect",
        "description": "Marks a prospect as qualified",
        "operationId": "qualifyProspect",
        "parameters": [
          {
            "name": "chatId",
            "in": "path",
            "description": "ID of the chat/conversation",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prospect qualified successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Prospect marked as qualified successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Conversation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/dnc": {
      "get": {
        "summary": "List DNC entries",
        "description": "Retrieve a paginated list of all Do Not Contact entries for your team",
        "operationId": "listDNC",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of entries to return (1-1000)",
            "schema": {
              "type": "integer",
              "default": 50,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of entries to skip for pagination",
            "schema": {
              "type": "integer",
              "default": 0,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of DNC entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "null"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "entries": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/DNCEntry"
                          }
                        },
                        "total": {
                          "type": "integer",
                          "description": "Count of entries in current response (not total across all pages)",
                          "example": 2
                        },
                        "limit": {
                          "type": "integer",
                          "example": 50
                        },
                        "offset": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add single DNC entry",
        "description": "Add a single LinkedIn URL to your team's Do Not Contact list",
        "operationId": "addDNC",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url"],
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "LinkedIn profile URL to add to DNC list",
                    "example": "https://linkedin.com/in/johnsmith"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DNC entry created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "null"
                    },
                    "data": {
                      "$ref": "#/components/schemas/DNCEntry"
                    },
                    "message": {
                      "type": "string",
                      "example": "Added to Do Not Contact list"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "URL already on DNC list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/dnc/check": {
      "get": {
        "summary": "Check DNC status",
        "description": "Check if a specific LinkedIn URL is on your team's Do Not Contact list",
        "operationId": "checkDNC",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "LinkedIn profile URL to check",
            "required": true,
            "schema": {
              "type": "string",
              "example": "https://linkedin.com/in/johnsmith"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNC check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "null"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "onList": {
                          "type": "boolean",
                          "example": true
                        },
                        "entry": {
                          "oneOf": [
                            {
                              "$ref": "#/components/schemas/DNCEntry"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing URL",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/dnc/batch": {
      "post": {
        "summary": "Add batch DNC entries",
        "description": "Bulk import multiple LinkedIn URLs to your team's Do Not Contact list",
        "operationId": "addBatchDNC",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["entries"],
                "properties": {
                  "entries": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "required": ["url"],
                      "properties": {
                        "url": {
                          "type": "string",
                          "description": "LinkedIn profile URL",
                          "example": "https://linkedin.com/in/johnsmith"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bulk import completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "null"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "added": {
                          "type": "integer",
                          "example": 3
                        },
                        "duplicates": {
                          "type": "integer",
                          "example": 1
                        },
                        "errors": {
                          "type": "integer",
                          "example": 0
                        },
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "url": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string",
                                "enum": ["added", "duplicate", "error"]
                              },
                              "error": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "message": {
                      "type": "string",
                      "example": "Bulk import completed: 3 added, 1 duplicates, 0 errors"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/dnc/{id}": {
      "delete": {
        "summary": "Delete DNC entry",
        "description": "Remove a specific LinkedIn URL from your team's Do Not Contact list",
        "operationId": "deleteDNC",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The unique ID of the DNC entry to delete",
            "required": true,
            "schema": {
              "type": "string",
              "example": "dnc_12345abcde"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNC entry deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "null"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "example": "DNC entry deleted successfully"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized - entry belongs to different team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "DNC entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RateLimitError"
                }
              }
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "summary": "List Products",
        "description": "Returns all products for the authenticated team",
        "operationId": "listProducts",
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Product",
        "description": "Creates a new product",
        "operationId": "createProduct",
        "requestBody": {
          "description": "Product to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Product created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "product_12345abcde"
                    },
                    "message": {
                      "type": "string",
                      "example": "Product created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/prompts": {
      "get": {
        "summary": "List Prompts",
        "description": "Returns all prompt templates for the authenticated team",
        "operationId": "listPrompts",
        "responses": {
          "200": {
            "description": "List of prompts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Prompt"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Prompt",
        "description": "Creates a new prompt template",
        "operationId": "createPrompt",
        "requestBody": {
          "description": "Prompt to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Prompt created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Prompt created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "summary": "List Agents",
        "description": "Returns all agents for the authenticated team",
        "operationId": "listAgents",
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Agent",
        "description": "Creates a new agent",
        "operationId": "createAgent",
        "responses": {
          "201": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "agent_12345abcde"
                    },
                    "message": {
                      "type": "string",
                      "example": "Agent created successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}": {
      "get": {
        "summary": "Get Agent Details",
        "description": "Returns details of a specific agent",
        "operationId": "getAgentDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentDetails"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update Agent Settings",
        "description": "Updates an agent's working hours and scheduling settings. Changes are applied immediately and the scheduler is re-triggered if the agent is running.",
        "operationId": "updateAgentSettings",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Agent settings to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentSettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent settings updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "agent_12345abcde"
                    },
                    "message": {
                      "type": "string",
                      "example": "Agent settings updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - agent belongs to another team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/setup": {
      "post": {
        "summary": "Setup Agent",
        "description": "Sets up an agent with LinkedIn credentials and location",
        "operationId": "setupAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Agent setup information",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SetupAgentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Agent setup successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent setup successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/pause": {
      "post": {
        "summary": "Pause Agent",
        "description": "Pauses an agent's activities",
        "operationId": "pauseAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent paused successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent paused successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/resume": {
      "post": {
        "summary": "Resume Agent",
        "description": "Resumes a paused agent",
        "operationId": "resumeAgent",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the agent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent resumed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Agent resumed successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Agent has active alerts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "get": {
        "summary": "List Webhooks",
        "description": "Returns all webhooks for the authenticated team",
        "operationId": "listWebhooks",
        "responses": {
          "200": {
            "description": "List of webhooks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Webhook",
        "description": "Creates a new webhook endpoint that will receive event notifications",
        "operationId": "createWebhook",
        "requestBody": {
          "description": "Webhook to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "webhook_12345abcde"
                    },
                    "name": {
                      "type": "string",
                      "example": "CRM Integration"
                    },
                    "url": {
                      "type": "string",
                      "example": "https://your-app.com/kakiyo/webhook"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": ["linkedin.message.received", "prospect.qualification.manual"]
                    },
                    "active": {
                      "type": "boolean",
                      "example": true
                    },
                    "message": {
                      "type": "string",
                      "example": "Webhook created successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/{webhookId}": {
      "put": {
        "summary": "Update Webhook",
        "description": "Updates an existing webhook",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "ID of the webhook to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Webhook properties to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Webhook updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "webhook_12345abcde"
                    },
                    "message": {
                      "type": "string",
                      "example": "Webhook updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete Webhook",
        "description": "Deletes an existing webhook",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "ID of the webhook to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "webhook_12345abcde"
                    },
                    "message": {
                      "type": "string",
                      "example": "Webhook deleted successfully"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Webhook not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/events": {
      "get": {
        "summary": "List Webhook Events",
        "description": "Returns all available webhook event types",
        "operationId": "listWebhookEvents",
        "responses": {
          "200": {
            "description": "List of webhook events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "linkedin.message.received"
                      },
                      "name": {
                        "type": "string",
                        "example": "LinkedIn Message Received"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/test": {
      "post": {
        "summary": "Test Webhook",
        "description": "Sends a test event to all matching webhooks",
        "operationId": "testWebhook",
        "requestBody": {
          "description": "Test webhook parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestWebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Test webhook sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Test webhook sent successfully"
                    },
                    "event": {
                      "type": "string",
                      "example": "linkedin.message.received"
                    },
                    "webhooksCount": {
                      "type": "integer",
                      "example": 2
                    },
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "webhook_12345abcde"
                          },
                          "name": {
                            "type": "string",
                            "example": "CRM Integration"
                          },
                          "url": {
                            "type": "string",
                            "example": "https://your-app.com/kakiyo/webhook"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "No webhooks found for this event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/test/events": {
      "get": {
        "summary": "List Test Events",
        "description": "Get a list of available webhook event types for testing",
        "operationId": "listTestEvents",
        "responses": {
          "200": {
            "description": "List of available test events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "prospect.qualified"
                      },
                      "name": {
                        "type": "string",
                        "example": "Prospect Qualified"
                      },
                      "description": {
                        "type": "string",
                        "example": "Triggered when a prospect is marked as qualified"
                      },
                      "category": {
                        "type": "string",
                        "example": "prospect"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks/test/example/{event}": {
      "get": {
        "summary": "Get Test Event Example",
        "description": "Get an example payload for a specific webhook event type",
        "operationId": "getTestEventExample",
        "parameters": [
          {
            "name": "event",
            "in": "path",
            "required": true,
            "description": "The event type to get an example for",
            "schema": {
              "type": "string"
            },
            "example": "prospect.qualified"
          }
        ],
        "responses": {
          "200": {
            "description": "Example event payload",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "event": {
                      "type": "string",
                      "example": "prospect.qualified"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2024-01-20T15:30:00Z"
                    },
                    "data": {
                      "type": "object",
                      "description": "Event-specific data payload"
                    },
                    "team": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "team_abc"
                        },
                        "name": {
                          "type": "string",
                          "example": "Sales Team Alpha"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid event type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/overview": {
      "get": {
        "summary": "Analytics Overview",
        "description": "Get comprehensive analytics and performance metrics for your entire team",
        "operationId": "getAnalyticsOverview",
        "responses": {
          "200": {
            "description": "Analytics overview retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalCampaigns": {
                          "type": "integer",
                          "example": 15
                        },
                        "activeCampaigns": {
                          "type": "integer",
                          "example": 8
                        },
                        "totalProspects": {
                          "type": "integer",
                          "example": 1250
                        },
                        "totalQualified": {
                          "type": "integer",
                          "example": 89
                        }
                      }
                    },
                    "metrics": {
                      "type": "object",
                      "properties": {
                        "conversionRate": {
                          "type": "number",
                          "example": 7.12
                        },
                        "responseRate": {
                          "type": "number",
                          "example": 18.72
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/analytics/campaigns/{campaignId}": {
      "get": {
        "summary": "Campaign Analytics",
        "description": "Get detailed analytics for a specific campaign",
        "operationId": "getCampaignAnalytics",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "campaign_12345abcde"
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign analytics retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "campaign_123"
                        },
                        "name": {
                          "type": "string",
                          "example": "Q4 Enterprise Outreach"
                        }
                      }
                    },
                    "metrics": {
                      "type": "object",
                      "properties": {
                        "totalProspects": {
                          "type": "integer",
                          "example": 150
                        },
                        "conversionRate": {
                          "type": "number",
                          "example": 8.0
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Campaign not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "summary": "List Models",
        "description": "Get a list of all available AI models with pricing information",
        "operationId": "listModels",
        "responses": {
          "200": {
            "description": "Models retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Model"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 8
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelId}": {
      "get": {
        "summary": "Get Model Details",
        "description": "Get detailed information about a specific AI model",
        "operationId": "getModelDetails",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "680321c8001e2f527d82"
          }
        ],
        "responses": {
          "200": {
            "description": "Model details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Model not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "summary": "List Workspaces",
        "description": "Returns all client workspaces for the authenticated agency. Agency plan required.",
        "operationId": "listWorkspaces",
        "tags": ["Workspaces"],
        "responses": {
          "200": {
            "description": "List of workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspaces": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Workspace"
                      }
                    },
                    "total": {
                      "type": "integer",
                      "example": 5
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Workspace",
        "description": "Creates a new client workspace for the agency. Agency plan required.",
        "operationId": "createWorkspace",
        "tags": ["Workspaces"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Display name for the client workspace",
                    "example": "Acme Corporation"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Workspace"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Not on agency plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}": {
      "delete": {
        "summary": "Delete Workspace",
        "description": "Permanently deletes a client workspace and cleans up all associated resources. Agency plan required.",
        "operationId": "deleteWorkspace",
        "tags": ["Workspaces"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Workspace ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Workspace deleted successfully"
                    },
                    "stats": {
                      "type": "object",
                      "properties": {
                        "agentsUnassigned": {
                          "type": "integer",
                          "example": 3
                        },
                        "campaignsUpdated": {
                          "type": "integer",
                          "example": 5
                        },
                        "chatsUpdated": {
                          "type": "integer",
                          "example": 150
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
[...]
